/* animation start */
.circle-animation {
  position: relative;
  width: 100vw;
  height: 1000px;
  background: radial-gradient(
    circle,
    var(--blue),
    var(--tale) 55%,
    var(--grey)
  );
}

.circle-animation:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    transparent,
    var(--grey) 55%,
    transparent
  );
  animation: color 2s infinite ease-out alternate;
  opacity: 0;
}

@keyframes color {
  0% {
    background: radial-gradient(
      circle,
      transparent,
      var(--grey) 55%,
      transparent
    );
  }
  100% {
    opacity: 1;
  }
}

/* animation end */

/* .home-offers-section-container {
  background-image: url(../../../../images/offer-img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
} */

.home-offers-section-group {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 5rem 0 4rem 0;
}

.home-offers-section-group-title {
  width: 300px;
  margin: auto;
}

.home-offers-section-group-title img {
  width: 100%;
}

.home-offers-section-group .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: all ease-in-out 0.3s;
}

.home-offers-section-group .button {
  background: var(--lime);
}

.home-offers-section-group .button .btn--xl--round {
  border: 1px solid var(--grey);
  width: 90%;
  height: 90%;
  border-radius: 100%;
  font-size: 1.2rem;
  color: white;
}

.home-offers-section-group .button .btn--xl--round span {
  font-size: 0.6rem;
  display: block;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.home-offers-section-group-offer-group {
  /* background-image: url(../../../../images/offer-img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%; */
  width: 100%;
  height: 65%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  border-radius: 100%;
  color: var(--grey);
}

.home-offers-section-group-offer-group h3 {
  font-family: var(--secondary-title-font);
  font-size: 2.2rem;
}

.home-offers-section-group-offer-group-price {
  font-family: var(--secondary-title-font);
  font-size: 1.7rem;
  padding-top: 90px;
}

.home-offers-section-group-offer-group-price-savings .save {
  padding-left: 15px;
  font-size: 1.2rem;
}

.home-offers-section-group-footer {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 550px;
  margin: auto;
}

.home-offers-section-group-footer .text {
  margin: 0 10px;
  padding: 10px;
  font-family: var(--secondary-title-font);
  color: var(--white);
  background: rgba(51, 152, 157, 0.3);
  font-size: 0.8rem;
  border-radius: 20px;
}

.home-offers-section-group-footer .text p:nth-child(2) {
  padding: 4px;
  font-size: 0.6rem;
}

@media screen and (min-width: 576px) {
  .home-offers-section-group-footer .text {
    margin: 0 20px;
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 40px;
  }

  .home-offers-section-group-footer .text p:nth-child(2) {
    padding: 4px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 700px) {
  .carousel-item-container {
    min-height: 800px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-item-container {
    min-height: 950px;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-item-container {
    min-height: 1050px;
  }
}

@media screen and (min-width: 1440px) {
  .carousel-item-container {
    min-height: 1350px;
  }
}
