.btn--primary {
  background-color: var(--tale);
  color: var(--white);
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  cursor: pointer;
}

.btn--primary:hover {
  background-color: var(--blue);
}

.btn--small--round:hover {
  cursor: pointer;
  margin-right: -3px;
  transition: all ease-in-out 0.3s;
}

.btn--outline {
  border: 1px solid var(--grey);
  border-radius: 50px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--grey);
}

.btn--small--back {
}

.btn-small-round-up {
  position: fixed;
  color: var(--white);
  background-color: var(--tale);
  padding: 0.3rem;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border: 1px solid var(--grey);
}
