h1 span {
  font-family: var(--main-title-font);
  display: block;
  font-size: 2.8rem;
  font-weight: bolder;
  line-height: 3rem;
  letter-spacing: 0.5px;
  text-align: center;
}

.home-main-title {
  margin-top: 3rem;
}

.home-description-title {
  display: flex;
  align-items: center;
}

.home-description-title h3 {
  font-family: var(--secondary-title-font);
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--blue);
  letter-spacing: 0.5px;
}

.home-description-title .title-line {
  width: 60px;
  height: 0.5px;
  background-color: var(--blue);
  margin: 0 30px;
}

.home-description p {
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  color: var(--tale);
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  padding-top: 2rem;
}

.home-main-image {
  max-width: 450px;
  margin: auto;
  padding-top: 50px;
}

.home-main-image img {
  width: 100%;
  -webkit-box-shadow: 0px 49px 46px -24px var(--tale);
  box-shadow: 0px 89px 100px -24px var(--tale);
}

.home-contacts {
  max-width: 400px;
  margin: 50px auto 20px auto;
}

.home-contacts-button {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.home-contacts-phone,
.home-contacts-address {
  display: flex;
  color: var(--blue);
  font-size: 1.2rem;
  margin: 25px;
}

.home-contacts-phone svg,
.home-contacts-address svg {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
  margin-right: 0.7rem;
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.5rem;
}

@media screen and (min-width: 370px) {
  h1 span {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 390px) {
  h1 span {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

@media screen and (min-width: 576px) {
  .home-main-title {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .home-main-image {
    padding: 0 0 0 20px;
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 750px;
    margin: auto;
  }

  .home-description-main-title {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  h1 span {
    font-size: 3rem;
  }

  .home-main-image {
    max-width: 350px;
  }

  .home-description-title h3 {
    font-size: 0.5rem;
  }

  .home-description-title .title-line {
    width: 60px;
    height: 0.5px;
    background-color: var(--blue);
    margin: 0 0 0 30px;
  }

  .home-contacts-phone,
  .home-contacts-address {
    font-size: 1rem;
    margin: 25px 0;
  }

  .home-contacts-phone svg,
  .home-contacts-address svg {
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.4rem;
  }
}

@media screen and (min-width: 770px) {
  .home-contacts {
    margin: 50px auto 20px 0;
  }

  .home-contacts-button {
    margin: auto 0 auto auto;
  }

  .home-main-image {
    margin: auto 0 auto auto;
  }
}
