.home-services-section {
  padding: 0 1.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.home-services-text-section h2 {
  font-family: var(--main-title-font);
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.5px;
}

.home-services-subtitle {
  display: flex;
  align-items: center;
  margin: 3.5rem 0;
}

.home-services-subtitle h3 {
  font-family: var(--secondary-title-font);
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--blue);
  letter-spacing: 0.5px;
}

.home-services-subtitle .title-line {
  width: 60px;
  height: 0.5px;
  background-color: var(--blue);
  margin: 0 40px 0 0;
}

.home-services-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-services-list-item:last-child {
  margin-bottom: 3.5rem;
}

.home-services-list-item .dotted-line {
  width: 100%;
  margin: 1.5rem 0.8rem;
  height: 5px;
  border-bottom: 3px dotted var(--tale);
  order: 4;
}

.home-services-list-item:last-child .dotted-line {
  display: none;
}

.home-services-list-item .price {
  order: 2;
  width: 50%;
  align-self: center;
}

.home-services-list-item .text {
  order: 1;
  width: 100%;
}

.home-services-list-item .button {
  order: 3;
  width: 50%;
  display: flex;
  justify-content: end;
  align-self: center;
}

.home-services-list-item h4 {
  font-size: 1.2rem;
  font-family: var(--paragraph-title-font);
  color: var(--blue);
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 10px;
}

.home-services-list-item p {
  font-size: 1rem;
  font-family: var(--paragraph-font);
  color: var(--blue);
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 10px;
}

.home-services-list-item .price {
  font-size: 1.8rem;
  color: var(--blue);
  letter-spacing: 0.5px;
  font-family: var(--paragraph-font);
}

.home-services-list-item .price span {
  font-family: var(--price-font);
}

.home-services-list-item .button .btn--small--round {
  border: 1px solid var(--blue);
  padding: 0.4rem;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
}

.home-services-list-item .button .btn--small--round svg {
  padding-top: 2px;
  width: 30px;
  height: 25px;
  color: var(--blue);
}

.home-services-button {
  padding: 0 2rem;
}
.btn--primary {
  width: 100%;
}

.home-services-img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-services-img-section .home-services-img.one {
  margin-top: 4rem;
}

.home-services-img-section .home-services-img {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.home-services-img-section .home-services-img.two img {
  width: 80%;
}

.home-services-img-section .home-services-img.three img {
  width: 60%;
  margin-bottom: 1rem;
}

.home-services-img-section .home-services-img img {
  width: 100%;
  max-width: 450px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 49px 46px -24px var(--tale);
  box-shadow: 0px 89px 100px -24px var(--tale);
}

@media screen and (min-width: 370px) {
  .home-services-text-section h2 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 390px) {
  .home-services-text-section h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .home-services-section {
    display: flex;
    gap: 2rem;
  }
  .home-services-text-section h1 {
    font-size: 3.3rem;
    letter-spacing: 0.5px;
  }

  .home-services-subtitle {
    margin: 3rem 0;
  }

  .home-services-subtitle h3 {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }

  .home-services-list-item h4 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }

  .home-services-list-item p {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  .home-services-list-item .price {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }

  .home-services-list-item .button .btn--small--round {
    border: 1px solid var(--blue);
  }

  .home-services-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-services-img-section .home-services-img.one {
    margin-top: 4rem;
  }

  .home-services-img-section .home-services-img {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
  }
  .home-services-img-section .home-services-img img {
    max-width: 650px;
  }
}

@media screen and (min-width: 992px) {
}
