@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Lato:wght@300;400&family=Manrope:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&family=Tenor+Sans&display=swap");
@font-face {
  font-family: Mabel;
  src: url("./fonts/Mabel.otf");
}
@font-face {
  font-family: Morehla-Regular;
  src: url("./fonts/Morehla-Regular.otf");
}
@font-face {
  font-family: PeachDaisy;
  src: url("./fonts/PeachDaisy.ttf");
}
@font-face {
  font-family: Quilezy;
  src: url("./fonts/Quilezy.otf");
}
@font-face {
  font-family: TrajanPro-Bold;
  src: url("./fonts/TrajanPro-Bold.otf");
}
@font-face {
  font-family: TrajanPro-Regular;
  src: url("./fonts/TrajanPro-Regular.ttf");
}
@font-face {
  font-family: Viagram;
  src: url("./fonts/Viagram.otf");
}

@font-face {
  font-family: Optima;
  src: url("./fonts/OPTIMA.woff");
}

@font-face {
  font-family: WondarQuason;
  src: url("./fonts/WondarQuason.ttf");
}

@font-face {
  font-family: RecoletaRegular;
  src: url("./fonts/RecoletaRegular.otf");
}

:root {
  --CroissantOne: "Croissant One", cursive;
  --Lato: "Lato", sans-serif;
  --Manrope: "Manrope", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --RobotoSlab: "Roboto Slab", serif;
  --TenorSans: "Tenor Sans", sans-serif;
  --Mabel: Mabel;
  --Morehla-Regular: Morehla-Regular;
  --Optima: Optima;
  --Quilezy: Quilezy;
  --WondarQuason: WondarQuason;
  --PeachDaisy: PeachDaisy;
  --TrajanPro-Regular: TrajanPro-Regular;
  --Viagram: Viagram;
  --RecoletaRegular: RecoletaRegular;

  --main-title-font: var(--RecoletaRegular);
  --secondary-title-font: var(--RecoletaRegular);
  --paragraph-title-font: var(--RecoletaRegular);
  --paragraph-font: var(--Lato);
  --price-font: var(--RecoletaRegular);

  --overlay-dark: rgba(40, 42, 42, 0.5);
  --gradient-dark-text: linear-gradient(90deg, var(--blue) 0%, var(--tale) 47%);
  --gradient-light-text: linear-gradient(
    90deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );

  --gradient-bg-dark: radial-gradient(
    circle at 25% 0%,
    var(--blue) 0%,
    var(--tale) 50%
  );

  --gradient-bg-light: radial-gradient(
    circle at 25% 0%,
    var(--white) 0%,
    var(--grey) 50%
  );

  --color-bg: var(--grey);
  --white: rgb(255, 255, 255);
  --grey: rgb(245, 245, 245);
  --tale: rgb(51, 152, 157);
  --blue: rgb(28, 90, 124);
  --dark-grey: rgb(64, 81, 78);
  --lime: rgb(136, 178, 7);
  --dark-lime: rgb(97, 126, 4);
}
