h1 span {
  font-family: var(--main-title-font);
  display: block;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 5px;
}

.home-main-title h1 {
  margin-top: 3rem;
}

.home-description-title {
  display: flex;
  align-items: center;
}

.home-description-title h3 {
  font-family: var(--secondary-title-font);
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--blue);
  letter-spacing: 6px;
}

.home-description-title .title-line {
  width: 60px;
  height: 0.5px;
  background-color: var(--blue);
  margin: 0 30px;
}

.home-description p {
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  color: var(--tale);
  letter-spacing: 1px;
  line-height: 1.8rem;
  padding-top: 2rem;
}

.home-main-image {
  display: flex;
  justify-content: center;
}

.home-main-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 250px;
  margin-top: 3rem;
  -webkit-box-shadow: 0px 49px 46px -24px var(--tale);
  box-shadow: 0px 89px 100px -24px var(--tale);
}

.home-contacts-second-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-contacts {
  margin-top: 7rem;
}

.home-contacts,
.home-second-img {
  max-width: 300px;
}

.home-second-img {
  display: none;
}

.home-contacts .home-contacts-phone,
.home-contacts .home-contacts-address {
  display: flex;
  color: var(--blue);
  font-size: 1.2rem;
  margin: 25px;
}
.home-contacts .home-contacts-phone a {
  padding: 10px 0;
}

.home-contacts .home-contacts-phone svg,
.home-contacts .home-contacts-address svg {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
  margin-right: 0.7rem;
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.6rem;
}

.home-second-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 250px;
}

@media screen and (min-width: 370px) {
  h1 span {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 390px) {
  h1 span {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

@media screen and (min-width: 576px) {
  .section-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .home-description-main-title {
    width: 100%;
  }

  .home-main-image {
    width: 50%;
  }

  .home-contacts-second-img {
    width: 50%;
  }

  .home-main-image img {
    object-fit: cover;
  }

  .home-second-img {
    display: block;
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  #home {
    padding: 0;
    margin: 0;
  }

  .home-main-image {
    padding: 0 25px 0 1px;
    height: fit-content;
  }

  h1 span {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 3px;
  }

  .home-main-image img {
    margin: 0;
  }

  .home-description-title h3 {
    font-size: 0.5rem;
  }

  .home-description-title .title-line {
    width: 60px;
    height: 0.5px;
    background-color: var(--blue);
    margin: 0 0 0 30px;
  }

  .home-description-main-title {
    width: 35%;
  }

  .home-main-image {
    width: 33%;
  }

  .home-contacts-second-img {
    width: 30%;
  }

  .home-contacts,
  .home-second-img {
    max-width: 100%;
  }
  .home-contacts-second-img {
    display: flex;
    margin: 150px 0;
  }
  .home-main-image,
  .home-contacts,
  .home-description-main-title {
    margin: auto;
  }

  .home-second-img {
    margin: auto;
    padding: 40px;
    display: block;
    width: 80%;
  }

  .home-second-img img {
    max-width: 180px;
    -webkit-box-shadow: 0px 49px 46px -24px var(--tale);
    box-shadow: -39px 0px 46px -24px var(--tale);
  }

  .home-contacts-second-img {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-contacts .home-contacts-phone,
  .home-contacts .home-contacts-address {
    font-size: 1rem;
    margin: 25px 0;
  }

  .home-contacts .home-contacts-phone svg,
  .home-contacts .home-contacts-address svg {
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.4rem;
  }
}

@media screen and (min-width: 992px) {
  .home-description-title h3 {
    font-size: 0.8rem;
  }

  .home-description-main-title {
    width: 35%;
  }

  .home-main-image {
    width: 30%;
  }

  .home-contacts-second-img {
    width: 35%;
  }

  .home-main-image {
    padding: 0 25px 0 5px;
    height: fit-content;
  }

  h1 span {
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: 3px;
  }

  .home-description-main-title {
    max-width: 37%;
  }

  .home-contacts-second-img {
    max-width: 30%;
  }

  .home-contacts,
  .home-second-img {
    max-width: 100%;
  }
  .home-contacts-second-img {
    display: flex;
    margin: 150px 0;
  }
  .home-main-image,
  .home-contacts,
  .home-description-main-title {
    margin: auto;
  }

  .home-second-img {
    width: 250px;
    margin: auto;
  }
  .home-second-img img {
    max-width: 180px;
    -webkit-box-shadow: 0px 49px 46px -24px var(--tale);
    box-shadow: -39px 0px 46px -24px var(--tale);
  }

  .home-contacts-second-img {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-contacts .home-contacts-phone,
  .home-contacts .home-contacts-address {
    font-size: 1rem;
    margin: 25px 0;
  }

  .home-second-img {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  h1 span {
    font-size: 3.4rem;
    line-height: 4rem;
    letter-spacing: 4px;
  }
}
